:root {

    --main-color: lightblue;
    --second-color: lightpink;
    --splash-screen-color: lightskyblue;
    --gameover-screen-color: lightskyblue;
    --win-screen-color: lightskyblue;
    --error-color: red;

    --font-family-body: "Comic Neue", Helvetica, Arial, san-serif;
    --font-size-body: 1.2rem;
    --font-size-heading: 2.5rem;


}

body {
    background-color: beige;
    margin: 0 auto;
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    font-weight: 700;
    line-height: 1.5;
}

h1 {
    margin: 0;
    font-size: 3rem;
}
h3 {
    font-size: 1.5rem;
}
h2 {
    font-size: 2.5rem;
}

input {
    padding: 1rem;
    border-radius: 30px;
    border: none;
    font-size: 1.2rem;
    text-align: center;
    background-color: white;
    font-weight: 700;
}

.site-wrapper {
    width: 900px;
    margin: 0 auto;
    height: 100vh;
}
.splash-screen {
    background-color: var(--splash-screen-color);
    height: 680px;
    margin: 1.8rem auto;
    padding: 3rem 2rem;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.splash-screen img {
    width: 8rem;
    margin: 2rem auto;
}

.name-input-container {
    position: absolute;
    bottom: 10rem;
    left: 18rem;
}
.name-input-container p {
    text-align: center;
    color: var(--error-color);
}

.player-name-splash {
    font-size: 2.5rem;
    text-align: center;
    position: absolute;
    bottom: 14rem;
    left: 0;
    right: 0;
}

.play-game {
    width: 30rem;
    margin: 2rem auto;
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
}


.game-container {
    display: flex;
    flex-wrap: wrap;
}
.pause-game {
    display: none;
}

.hole {
    background-color: lightgrey;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin: 2rem;
}

.cat {
    width: 10rem;
    margin: 1rem;
}

.screen-container {
    height: 100vh;
}


.game-screen {
    display: none;
}
.gameover-screen {
    /* display: none; */
    background-color: var(--gameover-screen-color);
    height: 680px;
    margin: 1.8rem auto;
    padding: 3rem 2rem;
    border-radius: 20px;
    position: relative;
}
.gameover-screen p {
    margin: 2rem 0;
}
.gameover-oscar {
    position: absolute;
    width: 8rem;
    top: 4rem;
    right: 5rem;
}
.bottom-btn {
    width: 30rem;
    margin: 2rem auto;
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
}
.player-display {
    width: 20rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.player-display article {
    text-align: center;
}

.player-name-over {
    text-align: center;
    margin: 2rem;
    font-size: 2.5rem;
}

.scoreboard-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 17rem;
}

.win-screen {
    background-color: var(--win-screen-color);
    height: 680px;
    margin: 1.8rem auto;
    padding: 3rem 2rem;
    border-radius: 20px;
    position: relative;
}